<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
				<key>dateExpires</key>
				<string>01/09/2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_phone_direct_caller.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>map_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FE3A43847046AE6054D4CA65235DE647BC70882D</string>
						<key>dateExpires</key>
						<string>01/09/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P5ARS8LA32</string>
						<key>name</key>
						<string>Geremia Pompei</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>P5ARS8LA32.com.unicam.mc</string>
				<key>com.apple.developer.team-identifier</key>
				<string>P5ARS8LA32</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>014fc0f2-c5f6-4e79-8cfc-49d45c5a132b</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.unicam.mc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>P5ARS8LA32</string>
				<key>name</key>
				<string>Geremia Pompei</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
